language: python

services:
  - elasticsearch

python:
  - "3.7"

before_script:
  - sleep 10

script:
  - curl "localhost:9200"
  - python test.py
  - curl "localhost:9200/_cat/indices"
  - curl "localhost:9200/demo/_search?pretty"
